.popup {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    opacity: 0;
    visibility: hidden;
    justify-content: center;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

.popup_opened {
    visibility: visible;
    opacity: 1;
    /* display: flex; */
}

.popup__container {
    margin: 0;
    padding: 34px 36px 37px 36px;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 430px;
    min-height: 200px;
    width: 100%;
    box-sizing: border-box;
    background: #4285f4;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

@media screen and (max-width: 475px) {
    .popup__container {
        max-width: 282px;
        padding: 25px 22px 25px 22px;
    }
}

.popup__info-icon {
    margin-top: 24px;
    width: 120px;
    align-self: center;
}

@media screen and (max-width: 475px) {
    .popup__info-icon {
        margin-top: 14px;
    }
}

.popup__info-text {
    margin: 32px auto 24px;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 475px) {
    .popup__info-text {
        margin: 40px auto 14px;
        font-size: 20px;
    }
}
.popup__close {
    position: absolute;
    top: -39px;
    right: -39px;
    padding: 0;
    display: flex;
    background-image: url(../../images/close.svg);
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    background-color: transparent;
    transition: 0.2s;
    outline: none;
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 620px) {
    .popup__close {
        right: 0;
        top: -37px;
        width: 20px;
        height: 20px;
    }
}
