.navsign {
  display: flex;
  align-items: center;
}

.navsign__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.navsign__link {
  color: #fff;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  text-decoration: none;
  transition: all .3s ease;
}

.navsign__link:hover {
  opacity: .7;
}

.navsign__link_type_signin {
  background-color: #3DDC84;
  color: #000;
  padding: 8px 20px;
  border-radius: 3px;
}

@media screen and (max-width: 400px) {
  .navsign__list {
    gap: 14px;
  }

  .navsign__link {
    font-size: 10px;
    line-height: 1.6;
  }

  .navsign__link_type_signin {
    padding: 5px 12px;
  }
}
