.header__area {
  background-color: #073042;
}

.header {
  box-sizing: border-box;
    margin: 0 auto 40px;
    max-width: 1280px;
    min-height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 703px) {
    .header {
        padding-top: 28px;
        padding-bottom: 32px;
    }
}



.header__auth {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.header__auth:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 918px) {
    .header__auth {
        margin-right: 19px;
    }
}

.header__email {
    margin: 0;
    padding-right: 24px;
}

.header__email:hover {
    cursor: default;
}

.header__logo {
    max-width: 38px;
    height: 100%;
}

@media screen and (max-width: 918px) {
    .header__logo {
        margin-left: 19px;
    }
}

@media screen and (max-width: 703px) {
    .header__logo {
        max-width: 104px;
        margin-left: 27px;
    }
}

.header__logout {
    text-decoration: none;
    color: #a9a9a9;
}
